canvas.fill-screen{
	width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
}

body{

	font-family: RuneScape bold;
	font-size: 3em;
	margin: 0px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}