@font-face{
	font-family: "RuneScape chat";

	/*excellent use of a pre processor right here*/
	src:url("RuneScape/chat/runescape_chat_font.eot?") format("eot"),
		url("RuneScape/chat/runescape_chat_font.woff") format("woff"),
		url("RuneScape/chat/runescape_chat_font.ttf") format("truetype"),
		url("RuneScape/chat/runescape_chat_font.svg#Runescape-Chat-Font") format("svg")
	;
	font-weight:normal;
	font-style:normal;

}
@font-face {
	font-family:"RuneScape bold";

	src:url("RuneScape/bold/runescape_bold_font.eot?") format("eot"),
		url("RuneScape/bold/runescape_bold_font.woff") format("woff"),
		url("RuneScape/bold/runescape_bold_font.ttf") format("truetype"),
		url("RuneScape/bold/runescape_bold_font.svg#RuneScape-Bold-Font") format("svg")
		;
	font-weight:normal;
	font-style:normal;
}
